$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
a:hover {
    text-decoration: none !important;
}


#breadcrumbs {
    background-color: #e9ecef;
}

.alert.header-message {
    border-radius: 0 !important;
}

.container-slide {
    margin-left: 15px;
    margin-right: 15px;
}


.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.bootstrap-select button.dropdown-toggle:focus {
    outline: none !important;
}



@media (min-width: 1200px) {
    .container-slide {
        margin-left: 50px;
        margin-right: 50px;
    }
}
